<footer class="footer">
    <div class="container is-fluid">
        <div class="content has-text-centered">
            <p>
                <strong><i class="fa-sharp fa-solid fa-paw"></i> PawDate</strong> by
                <a href="https://github.com/Summerjay0401/green-dolphins-project">The Green Dolphins</a>. © 2022.
            </p>
        </div>
    </div>
</footer>