<div class="navbar is-inline-flex is-transparent">
    <div class="navbar-brand">
        <a class="navbar-item link-to-profile" href="/">
            <i class="fa-sharp fa-solid fa-2xl fa-paw"></i> PawDate <span>By Green Dolphins</span>
        </a>
    </div>
    {{#if loggedIn}}
    <div class="navbar-menu">
        <div class="navbar-item">
            <div class="control has-icons-left">
                <input class="input is-small has-text-centered" type="text" placeholder="search">
                <span class="icon is-left is-small">
                    <i class="material-icons">search</i>
                </span>
            </div>
        </div>
    </div>
    {{/if}}
    <div class="navbar-item is-flex-touch">
        {{#if loggedIn}}
        <a class="navbar-item" href="/">
            <i class="fa-sharp fa-solid fa-lg fa-home"></i>
        </a>
        <a class="navbar-item" href="/discover">
            <i class="fa-sharp fa-solid fa-lg fa-compass"></i>
        </a>
        <a class="navbar-item" href="#" onclick="openModal();">
            <i class="fa-sharp fa-solid fa-lg fa-square-plus"></i>
        </a>
        <a class="navbar-item" href="/profile/{{loggedInUserData.id}}">
            <i class="fa-sharp fa-solid fa-lg fa-user"></i>
        </a>
        <a class="navbar-item" href="/sign-out">
            <i class="fa-solid fa-lg fa-right-from-bracket"></i>
        </a>
        {{/if}}
    </div>
</div>