<div class="d-flex flex-row align-items-center">
    <div
        class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border sidenav-profile-photo">
        <img src="assets/images/profiles/profile-6.jpg" alt="..."
            style="transform: scale(1.5); width: 100%; position: absolute; left: 0;">
    </div>
    <div class="profile-info ml-3">
        <span class="profile-info-username">QueenLillibet</span>
        <span class="profile-info-name">Elizabeth Paw</span>
    </div>
</div>