<div class="card">
    <div class="card-body d-flex justify-content-start">
        <ul class="list-unstyled mb-0">
            <li class="list-inline-item">
                <button class="btn p-0 m-0">
                    <div class="d-flex flex-column align-items-center">
                        <div
                            class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border border-danger story-profile-photo">
                            <img src="assets/images/profiles/profile-1.jpg" alt="..."
                                style="transform: scale(1.5); width: 100%; position: absolute; left: 0;">
                        </div>
                        <small>SirDuke</small>
                    </div>
                </button>
            </li>
            <li class="list-inline-item">
                <button class="btn p-0 m-0">
                    <div class="d-flex flex-column align-items-center">
                        <div
                            class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border border-danger story-profile-photo">
                            <img src="assets/images/profiles/profile-2.jpg" alt="..."
                                style="transform: scale(1.5); width: 100%; position: absolute; left: 0;">
                        </div>
                        <small>CodyMonster12</small>
                    </div>
                </button>
            </li>
        </ul>
    </div>
</div>