<div class="mt-4">
        <div class="container d-flex justify-content-center">
            <div class="col-9">
                <div class="row">
                    <div class="col-8">

                        <!-- START OF STORIES -->

                        {{> stories }}
                        
                        <!-- END OF STORIES -->

                        <!-- START OF POSTS -->
                        <div class="d-flex flex-column mt-4 mb-4">

                            {{{body}}}

                        </div>
                        <!-- END OF POSTS -->
                    </div>
                    <div class="col-4">

                        {{> profile}}

                        <div class="mt-4">

                            {{> suggestions }}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>