<link rel="stylesheet" type="text/css" href="/css/login.style.css">
<div class="login-container container has-text-centered">
    <div class="column is-6">
        <div class="box">
            <figure class="avatar">
                <i class="fa-sharp fa-solid fa-lg fa-paw"></i>
            </figure>
            <form>

                <div class="field">
                    <div class="control">
                        <input class="input" name="name" type="text" placeholder="Name" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input" name="username" type="text" placeholder="Username" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input" name="email" type="email" placeholder="Email" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input" name="password" type="password" placeholder="Password">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input" name="password2" type="password" placeholder="Confirm Password">
                    </div>
                </div>
                <button class="button is-block is-info is-fullwidth">Sign Up <i class="fa fa-sign-up" aria-hidden="true"></i></button>
            </form>
        </div>
        <p class="has-text-grey">
            <a href="/login">Login</a> &nbsp;·&nbsp;
            <a href="/help">Need Help?</a>
        </p>
    </div>
</div>