body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input {
    outline: none;
    border: none;
}

::-webkit-scrollbar {
    display: none;
}

.login__container {
    background-color: #f0f2f5;
    display: grid;
    grid-template-columns: 55% 45%;
    height: 100vh;
    width: 100vw;
}

.login__logo {
    width: 10.25rem;
    padding-left: 2.125rem;
}

.login__logo img {
    width: 10.25rem !important;
}

.login__welcome {
    padding-left: 10.5rem;
    padding-top: 13.5rem;
}

.login__welcome img {
    width: 18.75rem;
}